<header class='header'>
  <div class="logo">
    <div class="header-icon logo-icon">
      <%= link_to root_path do%>
        <div class="btn logo-btn">
          <span class="hovering">Top Page</span><span class="default">Seedeas</span>
        </div>
      <% end %>
    </div>
  </div>

    <div class='search-bar-contents'>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
    </div>


    <div class="header-icon">
      <% if user_signed_in? %>
        <%= link_to mypage_path(current_user.id) do%>
          <div class="btn">
            <span class="hovering">マイページ</span><span class="default"><%= current_user.name %></span>
          </div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do%>
          <div class="btn">
            <span class="logaut logaut-default">ログアウト</span>
          </div>
        <% end %>
        <%= link_to new_seed_path do%>
          <div class="btn">
            <span class="post post-default">投稿する</span>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do%>
          <div class="btn">
            <span class="hovering">ようこそ</span><span class="default">ログイン</span>
          </div>
        <% end %>
        <%= link_to new_user_registration_path do%>
          <div class="btn">
            <span class="hovering">sign-up</span><span class="default">新規登録</span>
          </div>
        <% end %>
      <% end %>
    </div>

</header>


