


<div class="seed-show">
  <div class="seed-box">
    <h2 class="title">
      <%= @seed.title %>
    </h2>
    <div class='seed-img-content'>
      <%= image_tag @seed.image ,class:"seed-box-img" if @seed.image.attached? %>
    </div>
    <div class="seed-tag-box">
      <span class="seed-tag">
        <%= @seed.tag.name %>
      </span>
    </div>
    <div class="seed-idea-box">
      <p class="seed-idea">
        <%= @seed.idea %>
      </p>
    </div>
    <div class="seed-user">
        <%= link_to @seed.user.name, user_path(@seed.user.id) %>
      </div>
  </div>
</div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
    <% if user_signed_in? %>
    <% if @seed.user.id == current_user.id %>
      <%= link_to '商品の編集', edit_seed_path(@seed.id), method: :get, class: "seed-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', seed_path(@seed.id), method: :delete, class:'seed-destroy' %>
    <% end %>
    <% end %>
